body{
    background-color: #E9EFF4 !important;
}

.ad{
    display: flex;
    color: #c71e31;
    background-color: #e1d00f;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

img{
    border-radius: 10px;
}

.size{
    height: 65%;
    object-fit: cover;
}